@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.boxLogo {
  display: flex;
  align-items: center;
}
.logo {
  width: 60px;
  height: 60px;
}
.slogan {
  font-size: 1.3em;
  color: #31815a;
  display: inline-block;
  padding-left: 10px;
}
.titleAvatar {
  font-size: 0.8rem;
  font-family: 'Inter', sans-serif;
  margin-right: 15px;
}
.avatar {
  display: flex;
  align-items: center;
}
.avatarImg {
  width: 45px;
  background-color: #65c9ff;
  border-radius: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 18px 5px 18px;
  margin-bottom: 48px;
}
